body{
    font:'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform:uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right,red,yellow);
}

h1{
    font:60 3.5em 'Raleway',sans-serif;
    color:rgba(0,0,0,.5);
    text-align: center;
    text-transform:uppercase;
    letter-spacing: .5em;
    width: 100%;
    box-shadow:0px -10px 30px #000; ;
}

img{
    width: 250px;
    height: 100%;
    border:2px solid #fff;
    box-shadow: 0px -10px 30px #000;
    color:white;
    font-size:50px;
    border-radius: 0px 34px;
    
}
